body {
    margin: 0;
    overflow: hidden;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s; /* Плавный переход для изменения фона */
}

#gameArea {
    position: relative;
    width: 100vw;
    height: calc(100vw * 16 / 9);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#jelly {
    width: 250px; /* Установите нужный размер */
    height: auto;
    max-height: 250px; /* Ограничиваем максимальную высоту */
    position: absolute;
    top: calc(50% + 150px) !important; /* Увеличиваем смещение на 100 пикселей ниже */
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем по горизонтали и вертикали */
    z-index: 1;
    transition: transform 0.25s, box-shadow 0.3s; /* Добавляем переход для тени */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); /* Мягкая тень */
    object-fit: contain;
    background: transparent; /* Убираем фон */
    clip-path: circle(50%); /* Обрезаем лишнее, оставляем только круг */
}

#score {
    position: absolute;
    top: 20px;
    font-size: 40px;
    color: white;
    z-index: 2;
    text-align: center;
}

#level {
    position: absolute;
    top: 70px;
    font-size: 30px;
    color: white;
    z-index: 2;
    text-align: center;
}

#nextLevel {
    position: absolute;
    top: 110px;
    font-size: 20px;
    color: white;
    z-index: 2;
    text-align: center;
}

.progress-container {
    position: absolute;
    top: 150px;
    width: 300px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.2s;
    border-radius: 20px;
}

.message {
    position: absolute;
    color: white;
    font-size: 24px;
    z-index: 2;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(0);
}

#bonusButton {
    position: absolute;
    top: 200px;
    padding: 10px 20px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(76, 175, 80, 0.7);
    border: none;
    border-radius: 5px;
    color: white;
}

#countdown {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 200px;
    z-index: 2;
    display: none;
    text-align: center;
}
